/** @format */

body {
  background-color: #000000 !important;
}

.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

p {
  font-weight: 200;
  font-style: italic;
  color: antiquewhite;
}

.vignette {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.vignette img {
  transition: transform 1.3s ease;
  display: block;
}

.vignette:hover img {
  transform: scale(1.05);
}

.vignette::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.8) 150%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.vignette:hover::after {
  opacity: 1;
}

@media (min-width: 992px) {
  .vignette {
    height: 300px; /* Fixed height for large screens */
  }

  .vignette img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
